.section
  %table
    %tr
      %td
        .label.top.req #{t :warehouse}:
        = f.text_field :warehouse_id
    %tr
      %td
        .label.top.req #{t :product}:
        = f.text_field :product_id
    %tr
      %td
        .label.top.req #{t :quantity}:
        = f.text_field :quantity
        
