= styles_for :inventory

.title_tools
  = link_to_inline(:create_inventory, new_admin_warehouse_inventory_path(@warehouse), :text => t(:create_inventory))

.title
  %span#create_inventory_title #{ @warehouse.name}
  = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

.remote#create_inventory{ hidden }

.list#inventories
  - if @inventories.any?
    = render :partial => "inventory", :collection => @inventories
  - else
    = render "shared/empty" ,:redirect_path => new_admin_warehouse_inventory_path(@warehouse)

#paginate= render "shared/paginate"
