.section
  %table
    %tr
      %td
        .label.top.req #{t :stock_small}:
        = f.text_field :stock_id
    %tr
      %td
        .label.top.req #{t :product_small}:
        = f.text_field :product_id
    %tr
      %td
        .label.top.req #{t :quantity}:
        = f.text_field :quantity
        
