
= form_for([:admin ,@stock, @stock_product], :html => one_submit_only(:stock_product).merge({:autocomplete => 'off'}), :remote => true) do |f|
  = link_to_close new_admin_stock_stock_product_path

  = f.error_messages :object_name => t('stock_product')

  = render "admin/stock_products/form", :f => f

  .buttonbar
    = f.submit t(:create_stock_product)
    #{t :or}
    = link_to_cancel new_admin_stock_stock_product_path
