.section
  %table
    %tr
      %td
        .label.top.req #{t :stock_name}:
        = f.text_field :name
    %tr
      %td
        .label.top.req #{t :stock_remark}:
        = f.text_field :remark
    %tr
      %td
        .label.top.req #{t :stock_status}:
        = f.radio_button :status , 1 ,:checked => true
        .label.top.noreq #{t :stock_status_active}
        = f.radio_button :status , 0
        .label.top.noreq #{t :stock_status_inactive}
        
