
= form_for([:admin, @stock], :html => one_submit_only(:stock).merge({:autocomplete => 'off'}), :remote => true) do |f|
  = link_to_close new_admin_stock_path

  = f.error_messages :object_name => t('stock')

  = render "admin/stocks/form", :f => f

  .buttonbar
    = f.submit t(:create_stock)
    #{t :or}
    = link_to_cancel new_admin_stock_path
