.remote
  = form_for([:admin, @product], :html => one_submit_only(:product).merge({:autocomplete => 'off'}), :remote => true) do |f|
    = link_to_close edit_admin_product_path(@product)

    = f.error_messages :object_name => t('product')

    = render "admin/products/form", :f => f, :edit => true

    .buttonbar
      = f.submit t(:save_product)
      #{t :or}
      = link_to_cancel edit_admin_product_path(@product)
